<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <div id='example-3'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>


    <div id="components-demo">
        <button-counter>
            aaa
        </button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
    </div>

    <div id="blog-post-demo">
        <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title"></blog-post>
    </div>

    <!--动态绑定value-->
    <br>
    <h1>--动态绑定value--</h1>
    <div id="app">

        <input type="radio" v-model="pick" v-bind:value="a" id="jack1"><label for="jack1">Jack1</label>
        <input type="radio" v-model="pick" v-bind:value="b" id="jack2"><label for="jack2">Jack2</label>
        <p>选中的是：{{pick}}</p>


        <label for="jack3">Jack3</label>
        <input type="radio" id="jack3" name="sex" v-model="sexT" value="jack3">
        <label for="jack4">Jack4</label>
        <input type="radio" id="jack4" name="sex" v-model="sexT" value="jack4">

        <input type="text" name="jack" id="bss" :value="sexT"><span>{{sexT}}</span>
    </div>




    <script>

        var app = new Vue({
            el: "#app",
            data: {
                pick: [],
                pick1: [],
                a: "hehehhehe",
                b: "哈哈哈哈",
                sexT: '',
            }
        });

        new Vue({
            el: '#example-3',
            data: {
                checkedNames: []
            }
        })


        // 定义一个名为 button-counter 的新组件
        Vue.component('button-counter', {
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button class="btn btn-default" v-on:click="count++">You clicked me {{ count }} times.</button>'
        })

        new Vue({ el: '#components-demo' });

        Vue.component('blog-post', {
            props: ['title'],
            template: '<h3>{{ title }}</h3>'
        })

        new Vue({
            el: '#blog-post-demo',
            data: {
                posts: [
                    { id: 1, title: 'My journey with Vue' },
                    { id: 2, title: 'Blogging with Vue' },
                    { id: 3, title: 'Why Vue is so fun' }
                ]
            }
        })
    </script>
</body>

</html>